    {% block layout %}

        <style>
        .whiteText1 {
            color: #ffffff;
            text-shadow: 0 0 12px #000;
            font-size: 20px;
        }


    </style>

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome.css">
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet'
          type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}styles-bluegreen.css">
    <link rel="stylesheet" href="css/settings-panel.css">

    {% endblock %}