{% extends "base.html" %}

<style>
    .whiteText {
        font: 'Comic Sans MS';
        font-size: 14px;
    }
</style>

{% block content %}


     <div class="container about">

           <p style="font:'Comic Sans MS';size:12px;">
            <span class="about-medium">
            This is a technical blog about different development aspects and programming related issues I have faced so far.
            I have developed this blog from scratch using Django Framework(Python).
            So obviously while writing, I get biased on <span class="about-italic">Django</span>.
            If you like my blog or find it helpful, please comment or share, It will incourage me more.<br></span>
        </span>
            </p>
             
                      

        <div class="about-button">
            <a class="btn btn-xlarge btn-tales-one" href="https://bd.linkedin.com/pub/ruddra-arnab/59/4b8/721/">Meet me
                @LinkedIn</a>
        </div>
        <hr>
        </div>

{% endblock %}
{% block sidebar %}
{% endblock %}