{% extends "base.html" %}

<style>
    .whiteText {
        font: 'Comic Sans MS';
        font-size: 14px;
        color: #ffffff;
    }

    .whiteText1 {
        color: #2e363e;
        text-shadow: 0 0 12px #000;
        font-size: 20px;
    }


</style>

{% block content %}

    <div class="container about">
    <h2><span >Archives </span></h2>
<br>
    <ul   class="tales-list">
    {% for post in object_list %}

        <li >&nbsp;{{ post.created }} : <a href="/blog/{{ post.id }}">{{ post.title }} </a> by<b> <a href='/blog/about'>{{ post.author }}</a></b> </li>

    {% endfor %}
    </ul>
    </div>
{% endblock %}
{% block sidebar %}
{% endblock %}

