{% extends "base.html" %}
{% block content %}
    

    
        <div class="container about">
            
            <span class="about-medium">I’m Arnab Kumar Shil (Ruddra)</span>
            <br> <img src="{{ STATIC_URL }}about-me.png" alt="Ruddra" class="about-portrait img-responsive">
            <span class="about-medium">I am a Software Engineer at <a href="progmaatic.com">Progmaatic Developer Network</a></span>.
             <span class="about-small"> I hold a Bachelor of Science degree in Computer Science and Engineering from <a href="juniv.edu">Jahangirnangar University</a>, Bangladesh </span>
            <span class="about-medium"><br>I would love to hear from you.Drop me notes at my mail address:</span >
            <span class="about-medium"> <span class="about-italic"> info@ruddra.com</span> </span><br>


            <div class="about-button">
                <a class="btn btn-xlarge btn-tales-one" href="http://stackoverflow.com/users/2696165/ruddra-arnab">Stackoverflow</a>
            </div>
            <hr>
        </div>
      



{% endblock %}
{% block sidebar %}
{% endblock %}