{% extends "base.html" %}

<head>
    <style>
        .whiteText1 {
            color: #ffffff;
            text-shadow: 0 0 12px #ffffff;;
        }
        .bluecolor{
            color: blue;
            font-size: 15px;
        }

        .fixSize {
            min-height: 600px;

        }

    </style>

{% block breadcrumbs%}
    <div class="widewrapper subheader">
        <div class="container">
            <div class="tales-breadcrumb">
                <a>{{ request.path }}</a>
            </div>
            <div class="tales-searchbox">
                <form action="/blog/search/" method="GET">
                    <button class="searchbutton" type="submit">
                    </button>

                    <input name="q" class="searchfield" type="text" placeholder="Search" type="submit">
                </form>
            </div>

        </div>
    </div>
    </div>
</header>

{% endblock %}


    

        {% block content %}
         <div class="container about">
        <div class="fixSize">

                <p><a> Viewing results for <b style="bluecolor">{{ query_string }}</b>: </a></p>

                {% for entry in found_entries %}



                <li><a href="/blog/{{ entry.id }}">    {{ entry }} </a></li>

                {% endfor %}
            </div>
            
        </div>

        {% endblock %}
        {% block sidebar %}
        {% endblock %}