{% extends "base.html" %}

<style>
    .whiteText {
        font: 'Comic Sans MS';
        font-size: 14px;
    }

    .fixSize {
        min-height: 600px;

    }
</style>
<head>
    <style>
        .whiteText1 {

            font-size: 20px;
        }


    </style>
   
{% block content %}
    
<div class="widewrapper main">

    

         
            <h2><span><b>Tag:</b> {{ tag }}  </span></h2>
 <br>
      
            <ul class="tales-list">
           {% for post in post %}

              <li>  <span align="left" class="about-italic"> <p>&nbsp;{{ post.created }} : <a href="/blog/{{ post.id }}">{{ post.title }} </a> </span></li>



            {% endfor %}
            </ul>

        

        </div>
{% endblock %}
        {% block sidebar %}
        {% endblock %}